@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div id="viewMain" style="visibility: hidden;">

    <div data-bind="page: {id: 'start', title: 'ALL CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/AllCards/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: '?', title: 'ALL CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/AllCards/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: 'BalanceTransfer', title: 'BALANCE TRANSFER CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/BalanceTransfer/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: 'Purchase', title: '0% PURCHASE CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/Purchase/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: 'Cashback', title: 'CASHBACK CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/Cashback/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: 'Rewards', title: 'REWARDS CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/Rewards/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: 'Combined', title: 'PURCHASE & BALANCE TRANSFER CREDIT CARDS'}">
        @Html.Partial(Url.Content("~/Views/_Partials/Combined/_Page.cshtml"))
    </div>

    <div data-bind="page: {id: 'PoorCredit', title: 'CREDIT CARDS FOR POR CREDIT'}">
        @Html.Partial(Url.Content("~/Views/_Partials/PoorCredit/_Page.cshtml"))
    </div>

</div>
