@model AMDKnockout.Models.ResponseData

@{
    ViewBag.Title = "Credit Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Public/styles/cardstable.css")"/>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h2>Your results</h2>
        </div>
    </div>
    
    <div id="results" class="row-fluid">
        <div class="span3" style="margin-top: 35px;">
            
            @Html.Partial(Url.Content("~/Views/Partials/_CategoryMenu.cshtml"))
            @*<div>
                @Html.Partial(Url.Content("~/Views/Partials/Calculators/_BalanceTransferCalculator.cshtml"))
                
                @Html.Partial(Url.Content("~/Views/Partials/Calculators/_PurchaseCalculator.cshtml"))
                
                @Html.Partial(Url.Content("~/Views/Partials/Calculators/_CashbackCalculator.cshtml"))
                
                @Html.Partial(Url.Content("~/Views/Partials/Calculators/_RewardsCalculator.cshtml"))
            </div>*@
        </div>
        <div class="span9">
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/AllCards/_AllCards.cshtml"))
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/BalanceTransfer/_BalanceTransfer.cshtml"))
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/Purchase/_Purchase.cshtml"))
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/Cashback/_Cashback.cshtml"))
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/Rewards/_Rewards.cshtml"))
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/Combined/_Combined.cshtml"))
            
            @Html.Partial(Url.Content("~/Views/Partials/Tables/PoorCredit/_PoorCredit.cshtml"))
            
        </div>
    </div>
</div>
<script type="text/javascript">
    window.ResponseData = @Html.Raw(Model.Data)
</script>
