@model AMDKnockout.Models.ResponseData

@{
    ViewBag.Title = "Credit Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Public/styles/cardstable.css")"/>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h2>Your results</h2>
        </div>
    </div>
    <base href="/" />
    <div id="results" class="row-fluid" style="visibility: hidden;">
        <div class="span3" style="margin-top: 35px;">
            <div>
                @Html.Partial(Url.Content("~/Views/Partials/_CategoryMenu.cshtml"))
            </div>
        </div>
        <div class="span9">
            <div data-bind="page: {id: 'start', Title: 'Some page title that is set dynamically'}">
                @Html.Partial(Url.Content("~/Views/Partials/Tables/_AllCards.cshtml"))
            </div>
            
            <div data-bind="page: {id: 'BalanceTransfer', Title: 'Some balance transfer page title'}">
                @Html.Partial(Url.Content("~/Views/Partials/Tables/_BalanceTransfer.cshtml"))
            </div>
            
            <div data-bind="page: {id: 'Purchase', Title: 'Purchases purchases purchases purchases'}">
                @Html.Partial(Url.Content("~/Views/Partials/Tables/_Purchase.cshtml"))
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.ResponseData = @Html.Raw(Model.Data)
</script>
