@model AMDKnockout.Models.ResponseData

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <base href="/" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script data-main="@Url.Content("~/Public/script/main.js")" src="@Url.Content("~/Public/script/require-jquery.js")"></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a href="#" class="brand">TotallyMoney</a>
                <ul class="nav pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="@Url.Content("~/Public/styles/cardstable.css")"/>

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <h2>Your results</h2>
            </div>
        </div>
        @RenderBody()
    </div>
    
</body>
<script type="text/javascript">
    window.ResponseData = @Html.Raw(Model.Data)
</script>
</html>
